<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titleToolbar">
      DETALHES DO COMUNICADO
    </ion-title>
    <ion-button (click)="go(2)" color="danger" class="backButton">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotificationDetails">
          {{noticia.titulo}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="dataNotificationDetails">
          {{noticia.data}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotificationDetails">
         {{noticia.texto}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="noticia.link">
        <a href="{{noticia.link}}" download="Boletim Nº1 - COVID19 " class="buttonLink">
            DOWNLOAD DO PDF 
        </a>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>