<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titleToolbar">
      COVID-19
    </ion-title>
    <ion-button (click)="go(0)" color="danger" class="backButton">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card  *ngFor="let not of noticias" (click)="goDetalheNoticia(not)" class="sideRedBar">
    <ion-grid>
      <ion-row>
        <ion-col class="titleNotification">
          {{not.titulo}}
        </ion-col>
        <ion-col class="dataNotification">
          {{not.data}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="contentNotification">{{not.texto}} </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>